@green: #439A86;
@darkGreen: #2B6356;
@blue: #4357AD;
@darkBlue: #1F284F;
@purple: #5B507A;
@darkPurple: #322C43;
@red: #92374D;
@darkRed: #431923;
@black: #464544;
@gray: #E8E6E3;
@white: #FFFCF9;

.green {
    background-color: @green;
}

.blue {
    background-color: @blue;
}

.purple {
    background-color: @purple;
}

.red {
    background-color: @red;
}

.text-shadow-green {
    text-shadow: 2px 2px @darkGreen;
}

.text-shadow-blue {
    text-shadow: 2px 2px @darkBlue;
}

.text-shadow-purple {
    text-shadow: 2px 2px @darkPurple;
}

.text-shadow-red {
    text-shadow: 2px 2px @darkRed;
}

.text-green {
    color: @green;
}

.text-blue {
    color: @blue;
}

.text-purple {
    color: @purple;
}

.text-red {
    color: @red;
}