@import "colors.less";
@import "flexboxgrid.min.css";
@import "buttons.less";
@import "containers.less";
@import "fonts.less";
@import "navigation.less";
@import "layout.less";

* {
    box-sizing: border-box;
}

#app {
    > div {
        min-height: 100%;
    }
}

html { 
    height: 100%; 
    overflow:auto; 
}

body, html {
    padding: 0;
    margin: 0;
}